@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #081707;
        --background: #ebf8e8;
        --primary: #B0B1F3;
        --secondary: #152E32;
        --accent: #E1FEC7;
    }
    .dark {
        --text: #e9f8e8;
        --background: #0a1707;
        --primary: #616099;
        --secondary: #276977;
        --accent: #4a7fc4;
    }
    @font-face {
        font-family: 'Montserrat';
        src: url(/fonts/Montserrat.ttf) format('truetype');

        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto.ttf) format('truetype');
    }
}


